asgiref==3.7.2
blessed==1.20.0
boto3
botocore
cement==2.8.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.3
Django==5.0.3
django-admin-honeypot-updated-2021==1.2.0
django-admin-thumbnails==0.2.8
django-ipware==6.0.4
django-session-timeout==0.1.0
django-storages==1.14.2
idna==3.6
jmespath==1.0.1
pathspec==0.10.1
pillow==10.2.0
psycopg2-binary==2.9.9
python-dateutil==2.9.0.post0
python-decouple==3.8
python-ipware==2.0.2
pytz==2024.1
PyYAML==6.0.1
razorpay==1.4.1
requests==2.31.0
semantic-version==2.8.5
six==1.16.0
sqlparse==0.4.4
termcolor==1.1.0
urllib3==1.26.18
wcwidth==0.1.9
# mysqlclient==2.2.4