{% autoescape off %}

Hi {{user.first_name}},

As requested, please click below link to reset your password.
<!-- http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %} -->

<a href="http://{{domain}}{% url 'resetpassword_validate' uidb64=uid token=token %}" style="background-color: #4CAF50; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 8px;">Reset Password</a>


If you think it's not you, please ignore this email.

{% endautoescape %}
