{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">About Us</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="text-center mb-4">
                        <h2 class="h2">OUR STORY</h2>
                        <div class="rte-setting">
                            <p><strong>Welcome to Ikon Perfume</strong></p>
                            <p>Your ultimate destination for exquisite fragrances and luxurious scents. Based in the vibrant city of Bangalore, India, we are passionate about curating an unparalleled collection of perfumes that embody elegance, sophistication, and individuality.
                            </p>
                        </div>
                    </div>
               	</div>
            </div>
            <div class="row">
            	<div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'images/ab1.jpg' %}" src="{% static 'images/ab1.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'images/ab2.jpg' %}" src="{% static 'images/ab2.jpg' %}" alt="About Us" /></div>
                <div class="col-12 col-sm-4 col-md-4 col-lg-4 mb-4"><img class="blur-up lazyload" data-src="{% static 'images/ab3.jpg' %}" src="{% static 'images/ab3.jpg' %}" alt="About Us" /></div>
            </div>
            <div class="row">
            	<div class="col-12">
                    <h2>All about passion</h2>
                    <p>At Ikon Perfume, we believe that scent is a powerful form of expression, capable of evoking memories, enhancing moods, and leaving a lasting impression. Our mission is to provide our customers with an immersive olfactory experience, where each fragrance tells a unique story and reflects the diverse tastes and personalities of our clientele.</p>
                    <p>With a meticulous selection process, we source our perfumes from renowned international brands as well as emerging niche creators, ensuring that every product meets our high standards of quality and craftsmanship. Whether you're seeking a signature scent for everyday wear, a special fragrance for a memorable occasion, or a thoughtful gift for a loved one, our diverse range caters to all preferences and occasions.</p>
                    <p></p>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-12 col-sm-12 col-md-6 col-lg-6 mb-4">
                	<h2 class="h2">Commitment</h2>
                    <div class="rte-setting"><p><strong>Beyond offering an extensive selection of perfumes, we are committed to delivering exceptional customer service and fostering a welcoming and inclusive community of fragrance enthusiasts. Our team of knowledgeable experts is dedicated to assisting you in finding the perfect scent that resonates with your unique style and personality.
                    </strong></p>
                    
                    <p>Experience the artistry of scent and embark on a sensory journey with Ikon Perfume. Discover your signature fragrance and make every moment unforgettable.</p></div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                	<h2 class="h2">Contact Us</h2>
                    <ul class="addressFooter">
                        <li><i class="icon anm anm-map-marker-al"></i><p>IKON PERFUMER 

                            MARIYAPPA CIRCLE, CMR Main Rd, Bengaluru, Karnataka 560043</p></li>
                        <li class="phone"><i class="icon anm anm-phone-s"></i><p>+91 70226 74447</p></li>
                        <li class="email"><i class="icon anm anm-envelope-l"></i><p>ikonperfume786@gmail.com</p></li>
                    </ul>
                    <hr />
                    <ul class="list--inline site-footer__social-icons social-icons">
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Facebook"><i class="icon icon-facebook"></i></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Twitter"><i class="icon icon-twitter"></i> <span class="icon__fallback-text">Twitter</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Pinterest"><i class="icon icon-pinterest"></i> <span class="icon__fallback-text">Pinterest</span></a></li>
                        <li><a class="social-icons__link" href="https://www.instagram.com/ikonperfumer?igsh=ZnV0eXh0cjY2a3Y1" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Instagram"><i class="icon icon-instagram"></i> <span class="icon__fallback-text">Instagram</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Tumblr"><i class="icon icon-tumblr-alt"></i> <span class="icon__fallback-text">Tumblr</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on YouTube"><i class="icon icon-youtube"></i> <span class="icon__fallback-text">YouTube</span></a></li>
                        <li><a class="social-icons__link" href="#" target="_blank" title="Belle Multipurpose Bootstrap 4 Template on Vimeo"><i class="icon icon-vimeo-alt"></i> <span class="icon__fallback-text">Vimeo</span></a></li>
                    </ul>
                </div>
            </div>
            
            
        </div>
        
    </div>
    
    <!--End Body Content-->
    {% endblock %}