
{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="page-content">
<!-- ========================= SECTION MAIN ========================= -->

<!--<div class="container"> -->

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner">
		 
		  <div class="carousel-item active">
			<img class="d-block w-100" src="{% static 'images/b1.jpg' %}" alt="{{ banner.ban_heading }}">
		  </div>
		  <div class="carousel-item {% if forloop.first %}active{% endif %} ">
			<img class="d-block w-100" src="{% static 'images/b2.jpg' %}" alt="{{ banner.ban_heading }}">
		  </div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>

<!-- </div>  container //  -->

<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->


	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-12 col-md-12 col-lg-12">
					<div class="section-header text-center">
						<h2 class="h2">Bestseller</h2>
						<p>Our most popular products based on sales</p>
					</div>
					<div class="productSlider grid-products">
						{% for product in products %}
						<div class="col-12 item">
							
							<!-- start product image -->
							<div class="product-image">
								<!-- start product image -->
								<a href="{{ product.get_url }}" class="grid-view-item__link">
									<!-- image -->
									<img class="primary blur-up lazyload" data-src="{{ product.images.url }}" src="{{ product.images.url }}" alt="image" title="product">
									<!-- End image -->
									<!-- Hover image -->
									<img class="hover blur-up lazyload" data-src="{{ product.images.url }}" src="{{ product.images.url }}" alt="image" title="product">
									<!-- End hover image -->
									<!-- Variant Image-->
									<img class="grid-view-item__image hover variantImg" src="{{ product.images.url }}" alt="image" title="product">
									<!-- Variant Image-->
									<!-- product label -->
									<div class="product-labels rounded"><span class="lbl on-sale">Sale</span> <span class="lbl pr-label1">new</span></div>
									<!-- End product label -->
								</a>
								<!-- end product image -->
							
								<!-- Start product button -->
								<form class="variants add" action="{% url 'add_cart' product.id %}" onclick="window.location.href='{% url 'cart' %}'"method="post">
									{% csrf_token %}
									<button class="btn btn-addto-cart" type="button" tabindex="0">Add To Cart</button>
								</form>
							
								<!-- end product button -->
							</div>
							<!-- end product image -->
					
					</div>
					{% endfor %}
				</div>
			</div>    
		</div>
	</div>


<div class="section">
	<div class="hero hero--large hero__overlay bg-size">
		<img class="bg-img" src="{% static 'images/parallax-banners/bg.jpg' %}" alt="" />
		<div class="hero__inner">
			<div class="container">
				<div class="wrap-text left text-small font-bold">
					<h2 class="h2 mega-title">Ikon perfumer<br> The best choice for your smell</h2>
					<a href="{% url 'store' %}" class="btn">Purchase Now</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section imgBanners">
        	<div class="imgBnrOuter">
            	<div class="container-fluid">
                	<div class="row">
						{% for category in links %}
                    	<div class="col-12 col-sm-12 col-md-12 col-lg-6 pl-0 image-banner-1">
                        	<div class="inner topleft">
                            	<a href="{{ category.get_url }}">	
                               		<img src="{{ category.cat_image.url }}" alt="ikon" title="ikon" class="blur-up lazyload" />
                                    <div class="ttl">
                                    	<h3>{{ category.category_name }}</h3>  <b>Explore Now </b><i class="anm anm-long-arrow-right"></i>
                                    </div>
                                </a>
                             </div>
                        </div>
						{% endfor %}
                    </div>
                </div>
            </div>
        </div>
       <!--New Arrivals-->

	   <div class="section feature-content">
		<div class="container">
			<div class="row">
				<div class="feature-row">
					<div class="col-12 col-sm-12 col-md-6 feature-row__item">
						<img src="{% static 'images/p2.jpeg' %}" alt="ikon-perfumer" title="ikon" />
					</div>
					<div class="col-12 col-sm-12 col-md-6 mb-4 feature-row__item feature-row__text feature-row__text--left text-left">
						
						  <div class="section-header text-center">
							<h2 class="h2">Welcome to Ikon Perfume</h2>
							<p>At Ikon Perfume, we believe that scent is a powerful form of expression, capable of evoking memories, enhancing moods, and leaving a lasting impression. Our mission is to provide our customers with an immersive olfactory experience, where each fragrance tells a unique story and reflects the diverse tastes and personalities of our clientele.
							</p>
							<p>With a meticulous selection process, we source our perfumes from renowned international brands as well as emerging niche creators, ensuring that every product meets our high standards of quality and craftsmanship.
							</p>
							<a href="{% url 'store' %}" class="btn">Shop Now</a>
						</div>
					</div>
				  </div>
			</div>
		</div>
	</div>
</div>


<!-- container // -->

<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}
