{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="page-content">
	<div class="main-content">
  <!--Breadcrumb-->
		<div class="bredcrumbWrap">
			<div class="container breadcrumbs">
				<a href="{% url 'home' %}" title="Back to the home page">Home</a><span aria-hidden="true">›</span><span>Product details</span>
			</div>
		</div>
<!--End Breadcrumb-->
<div id="ProductSection-product-template" class="product-template__container prstyle1 container">
		<!-- ============================ COMPONENT 1 ================================= -->
		<div class="product-single">
			<div class="row ">
				<aside class="col-lg-6 col-md-6 col-sm-12 col-12">

					<article class="product-details-img">
						<div class="zoompro-wrap product-zoom-right pl-20">
							<div class="zoompro-span">
								<img class="blur-up lazyload"  alt="" src="{{ single_product.images.url }}" />
							</div>
							<div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>
						</div> 
					</article>
					
					<!-- gallery-wrap .end// -->
					<!-- <ul class="thumb">
						<li>
							<a href="{{ single_product.images.url }}" target="mainImage"><img src="{{ single_product.images.url }}" alt="Product Image"></a>
							{% for i in product_gallery %}
							<a href="{{i.image.url}}" target="mainImage"><img src="{{i.image.url}}" alt="Product Image"></a>
							{% endfor %}
						</li>
					</ul> -->
				</aside>
				<main class="col-md-6 border-left">

					<form action="{% url 'add_cart' single_product.id %}" method="POST">
						{% csrf_token %}
						<article class="content-body">

							<h2 class="title">{{ single_product.product_name }}</h2>
							<!-- <div class="rating-star">
								<span>
									<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
								<span>{{single_product.countReview}} reviews</span>
									</span>
							</div> -->


							<div class="mb-3">
								<var class="price h4">₹ {{single_product.price}}</var>
							</div>

							<!-- <p>{{ single_product.description }}</p> -->
							<div class="product-single__description rte">
								<ul>
							     {{ single_product.description }}
								</ul>
							</div>
                            
							<hr>
                            
							<div class="row product-action">
								<div class="item-option-select">
									<h6>Select Size</h6>
									<select name="size" class="form-control" required>
										{% for variation in variations %}
											<option value="{{ variation }}">{{ variation|title }}</option>
										{% endfor %}
									</select>
								</div>
							</div>	
                            
							<hr>
                            
							<div class="product-form__item--quantity">
								<div class="wrapQtyBtn">
									<div class="qtyField">
										<a class="qtyBtn minus" href="javascript:void(0);"><i class="fa anm anm-minus-r" aria-hidden="true"></i></a>
										<input type="text" id="Quantity" name="quantity" value="1" class="product-form__input qty">
										<a class="qtyBtn plus" href="javascript:void(0);"><i class="fa anm anm-plus-r" aria-hidden="true"></i></a>
									</div>
								</div>
							</div> 


							{% if single_product.stock <= 0 %}
							<h5 class="text-danger">Out of Stock</h5>
							{% else %}
							<button type="submit" class="btn  btn-primary"> <span class="text">Add to Cart</span> <i class="fa fa-shopping-cart"></i> </button>
							{% endif %}


						</article> <!-- product-info-aside .// -->
					</form>
				</main> <!-- col.// -->
			</div> <!-- row.// -->
		</div> <!-- card.// -->
		<!-- ============================ COMPONENT 1 END .// ================================= -->

		<br>

		<div class="row">
			<div class="col-md-9">



				
<br>
<!-- <header class="section-heading">
	<h3>Customer Reviews </h3>
	<div class="rating-star">
		<span>
			<i class="fa fa-star{% if single_product.averageReview < 0.5 %}-o{% elif single_product.averageReview >= 0.5 and single_product.averageReview < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 1.5 %}-o{% elif single_product.averageReview >= 1.5 and single_product.averageReview < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 2.5 %}-o{% elif single_product.averageReview >= 2.5 and single_product.averageReview < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 3.5 %}-o{% elif single_product.averageReview >= 3.5 and single_product.averageReview < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
			<i class="fa fa-star{% if single_product.averageReview < 4.5 %}-o{% elif single_product.averageReview >= 4.5 and single_product.averageReview < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
	<span>{{single_product.countReview}} reviews</span>
			</span>
	</div>

</header> -->

{% for review in reviews %}
				<!-- <article class="box mb-3">
					<div class="icontext w-100">

						<div class="text">
							<span class="date text-muted float-md-right">{{review.updated_at}} </span>
							<h6 class="mb-1">{{review.user.full_name}} </h6>
							<div class="rating-star">
								<span>
									<i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
									<i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
								</span>
							</div>
						</div>
					</div> <!-- icontext.// -->
				
				</article> -->
{% endfor %}


			</div> <!-- col.// -->
		</div> <!-- row.// -->


	</div> <!-- container .//  -->
</div>
</div>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
<!--  -->